.bordered {
	border: 2px solid beige;
}

.loading_icon {
	width: 106px;
	height: 106px;
}

.button-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.guest-login-margin {
	margin-top: 20px;
}

.align-left {
	text-align: left;
}

.profile-tab-margin {
	margin-top: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-top {
	margin-top: 20px;
}

.opponent {
	background-color: salmon;
}

.player {
	background-color: lightblue;
}