<div class="row">
	
	<!-- Character card -->
	<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 margin-bottom">
		<div ng-include="'views/character_card/card.view.html'" ng-controller="CardController as cardModel"></div>
	</div>
	
	<!-- Ability Selector -->
	<div class="col-xs-12" ng-controller="AbilitySelectorController as abilitySelectorModel">
		<div class="row">
			
			<h4 class="col-xs-12 text-left">Remaining Wisdom Points: {{abilitySelectorModel.character.attributes.wisdom}}</h4>
			
			<!-- Available abilities -->
			<div class="col-xs-5">
				<table class="col-xs-12 table-striped table-responsive table-bordered">
					<thead>
						<tr>
							<td class="text-center"><b>Available Abilities</b></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ability in abilitySelectorModel.availableAbilities">
							<td>{{ability.name}} <span class="glyphicon glyphicon-chevron-right" ng-click="abilitySelectorModel.addAbility($index)"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Selected abilities -->
			<div class="col-xs-5 col-xs-offset-2">
				<table class="col-xs-12 table-striped table-responsive table-bordered">
					<thead>
						<tr>
							<td class="text-center"><b>Learned Abilities</b></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ability in abilitySelectorModel.character.abilities">
							<td>{{ability.name}} <span class="glyphicon glyphicon-chevron-left" ng-click="abilitySelectorModel.removeAbility($index)"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Ability Description box -->
			<div class="col-xs-12 margin-top">
				<text-area class="form-control" rows="5">{{abilitySelectorModel.selectedAbility.description}}</text-area>
			</div>
			
		</div>
		
	</div>
</div>

