<div class="container-fluid">
	<div class="row">
		
		<div class="col-sm-12">
			<h2>Start New Game</h2>
		</div>
		
		<!-- Searchbar -->
		<div class="col-sm-12">
			<form class="form-inline">
		
				<div class="form-group">
					<label for="inputHistoricalFigure">Name Of Celebrity</label>
					<input type="text" class="form-control" id="inputHistoricalFigure" placeholder="Name" ng-model="newGameModel.celebrityName">
				</div>
		
				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-click="newGameModel.createCharacter()">Create Character</button>
				</div>
		
			</form>
		</div>
		
		<!-- Character card and ability selector -->
		<div class="col-sm-12" ui-view></div>
		
	</div>	
</div>
