<div class="container-fluid">
	<div class="row">
		<table class="table-striped table-bordered table-responsive col-sm-12 col-md-12 col-lg-12">
			<thead>
				<tr class="text-center">
					<td><b>Username</b></td>
					<td><b>Wins</b></td>
					<td><b>Losses</b></td>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" ng-repeat="entry in leaderboardUsersModel.leaderboardEntries">
					<td>{{entry.username}}</td>
					<td>{{entry.wins}}</td>
					<td>{{entry.losses}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>