<div class="row">
	
	<!-- Content -->
	<div class="col-sm-12 col-md-4" ui-view></div>
	
	<!-- Description -->
	<div class="col-sm-12 col-md-8">
		<p>Have you ever wondered who would win in a fight between Tom Cruise and Tom Hanks? Matt Damon and Will Smith? Charlize Theron and Michael Cera?
		   Ye Old Arena! is an online 2 player game that allows you to pit famous celebrities against each other in epic turn-based combat. Just type in the name
		   of a celebrity and we will create a character for you to use, and put you in a match against another player.</p>
	</div>
	
</div>