<div class="fluid-container" ng-controller="SearchbarController as searchbarModel">
	<form class="form-inline">
		<div class="form-group">
			<label for="inputHistoricalFigure">Enter Historical Figure</label>
			<input type="text" class="form-control" id="inputHistoricalFigure" placeholder="Name" ng-model="searchbarModel.searchText">
		</div>
		
		<div class="form-group">
			<button type="submit" class="btn btn-primary" ng-click="searchbarModel.submit()">Submit</button>
		</div>
	</form>	
</div>
